<?xml version="1.0"?>
<config>
    <modules>
        <EmjaInteractive_PurchaseorderManagement>
            <version>2.8.0</version>
        </EmjaInteractive_PurchaseorderManagement>
    </modules>
    <global>
        <blocks>
            <emjainteractive_purchaseordermanagement>
                <class>EmjaInteractive_PurchaseorderManagement_Block</class>
            </emjainteractive_purchaseordermanagement>
            <adminhtml>
                <rewrite>
                    <sales_order_invoice_create_items>EmjaInteractive_PurchaseorderManagement_Block_Adminhtml_Sales_Order_Invoice_Create_Items</sales_order_invoice_create_items>
                    <sales_order_invoice_create_form>EmjaInteractive_PurchaseorderManagement_Block_Adminhtml_Sales_Order_Invoice_Create_Form</sales_order_invoice_create_form>
                    <sales_order_creditmemo_create_form>EmjaInteractive_PurchaseorderManagement_Block_Adminhtml_Sales_Order_Creditmemo_Create_Form</sales_order_creditmemo_create_form>
                </rewrite>
            </adminhtml>
            <payment>
                <rewrite>
                    <info_purchaseorder>EmjaInteractive_PurchaseorderManagement_Block_Payment_Info_Purchaseorder</info_purchaseorder>
                </rewrite>
            </payment>
        </blocks>
        <helpers>
            <emjainteractive_purchaseordermanagement>
                <class>EmjaInteractive_PurchaseorderManagement_Helper</class>
            </emjainteractive_purchaseordermanagement>
        </helpers>
        <models>
            <emjainteractive_purchaseordermanagement>
                <class>EmjaInteractive_PurchaseorderManagement_Model</class>
                <resourceModel>emjainteractive_purchaseordermanagement_mysql4</resourceModel>
            </emjainteractive_purchaseordermanagement>
            <emjainteractive_purchaseordermanagement_mysql4>
                <class>EmjaInteractive_PurchaseorderManagement_Model_Mysql4</class>
                <entities>
                    <capture_payment>
                        <table>emja_po_flat_order_capture_payment</table>
                    </capture_payment>
                    <capture_payment_transaction>
                        <table>emja_po_capture_payment_transaction</table>
                    </capture_payment_transaction>
                </entities>
            </emjainteractive_purchaseordermanagement_mysql4>
            <sales_mysql4>
                <rewrite>
                    <report_order>EmjaInteractive_PurchaseorderManagement_Model_Mysql4_Report_Order</report_order>
                    <report_order_updatedat_collection>EmjaInteractive_PurchaseorderManagement_Model_Mysql4_Report_Order_Collection</report_order_updatedat_collection>
                    <report_order_collection>EmjaInteractive_PurchaseorderManagement_Model_Mysql4_Report_Order_Collection</report_order_collection>
                </rewrite>
            </sales_mysql4>
            <payment>
                <rewrite>
                    <method_purchaseorder>EmjaInteractive_PurchaseorderManagement_Model_Payment_Method_Purchaseorder</method_purchaseorder>
                </rewrite>
            </payment>
			<sales>
                <rewrite>
                    <order>EmjaInteractive_PurchaseorderManagement_Model_Sales_Order</order>
                </rewrite>
            </sales>
			<core>
                <rewrite>
					<email_template>EmjaInteractive_PurchaseorderManagement_Model_Email_Template</email_template>
                    <email_template_mailer>EmjaInteractive_PurchaseorderManagement_Model_Email_Template_Mailer</email_template_mailer>
                </rewrite>
            </core>
        </models>
        <resources>
            <emjainteractive_purchaseordermanagement_setup>
                <setup>
                    <module>EmjaInteractive_PurchaseorderManagement</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </emjainteractive_purchaseordermanagement_setup>
        </resources>

        <events>

            <sales_order_shipment_save_after>
                <observers>
                    <emjainteractive_purchaseordermanagement>
                        <class>emjainteractive_purchaseordermanagement/sales_order_shipment_observer</class>
                        <method>setStatus</method>
                    </emjainteractive_purchaseordermanagement>
                </observers>
            </sales_order_shipment_save_after>

            <sales_order_save_before>
                <observers>
                    <emjainteractive_purchaseordermanagement>
                        <class>emjainteractive_purchaseordermanagement/sales_order_observer</class>
                        <method>saveNetTerms</method>
                    </emjainteractive_purchaseordermanagement>
                    
                    <emjainteractive_purchaseordermanagement_limit>
                        <class>emjainteractive_purchaseordermanagement/sales_order_observer</class>
                        <method>isPOLimitExceeded</method>
                    </emjainteractive_purchaseordermanagement_limit>
                </observers>
            </sales_order_save_before>

            <sales_order_save_after>
                <observers>
                    <emjainteractive_purchaseordermanagement>
                        <type>singleton</type>
                        <class>emjainteractive_purchaseordermanagement/sales_order_observer</class>
                        <method>incrementPOCredit</method>
                    </emjainteractive_purchaseordermanagement>
                </observers>
            </sales_order_save_after>
            
            <sales_order_invoice_pay>
                <observers>
                    <emjainteractive_purchaseordermanagement>
                        <class>emjainteractive_purchaseordermanagement/sales_order_observer</class>
                        <method>decrementPOCreditInvoice</method>
                    </emjainteractive_purchaseordermanagement>
                </observers>
            </sales_order_invoice_pay>

            <sales_order_item_cancel>
                <observers>
                    <emjainteractive_purchaseordermanagement>
                        <class>emjainteractive_purchaseordermanagement/sales_order_observer</class>
                        <method>decrementPOCredit</method>
                    </emjainteractive_purchaseordermanagement>
                </observers>
            </sales_order_item_cancel>
            
            <sales_order_resource_init_virtual_grid_columns>
                <observers>
                    <emjainteractive_purchaseordermanagement>
                        <model>emjainteractive_purchaseordermanagement/sales_order_observer</model>
                        <method>addColumnToResource</method>
                    </emjainteractive_purchaseordermanagement>
                </observers>
            </sales_order_resource_init_virtual_grid_columns>
        </events>

    </global>

    <adminhtml>

        <translate>
            <modules>
                <EmjaInteractive_PurchaseorderManagement>
                    <files>
                        <default>EmjaInteractive_PurchaseorderManagement.csv</default>
                    </files>
                </EmjaInteractive_PurchaseorderManagement>
            </modules>
        </translate>

        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <emjainteractive_purchaseordermanagement>
                        <class>emjainteractive_purchaseordermanagement/adminhtml_sales_order_view_observer</class>
                        <method>prepareButtons</method>
                    </emjainteractive_purchaseordermanagement>
                </observers>
            </adminhtml_widget_container_html_before>

            <adminhtml_block_html_before>
                <observers>

                    <emjainteractive_purchaseordermanagement_submit_refund>
                        <class>emjainteractive_purchaseordermanagement/adminhtml_sales_order_creditmemo_create_observer</class>
                        <method>beforeHtml</method>
                    </emjainteractive_purchaseordermanagement_submit_refund>

                    <emjainteractive_purchaseordermanagement_block_before_html>
                        <class>emjainteractive_purchaseordermanagement/adminhtml_sales_order_grid_observer</class>
                        <method>beforeHtml</method>
                    </emjainteractive_purchaseordermanagement_block_before_html>
                </observers>
            </adminhtml_block_html_before>
        </events>

        <layout>
            <updates>
                <emjainteractive_purchaseordermanagement module="emjainteractive_purchaseordermanagement">
                    <file>emjainteractive/purchaseordermanagement.xml</file>
                </emjainteractive_purchaseordermanagement>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
           <adminhtml>
               <args>
                   <modules>
                       <emjainteractive_purchaseordermanagement after="Mage_Adminhtml">EmjaInteractive_PurchaseorderManagement_Adminhtml</emjainteractive_purchaseordermanagement>
                   </modules>
               </args>
           </adminhtml>
       </routers>
    </admin>

    <default>
        <payment>
            <purchaseorder>
                <default_limit>5000</default_limit>
                <default_net_terms>30</default_net_terms>
                <exceeded_limit_message>Sorry, you have surpassed your PO LIMIT</exceeded_limit_message>
				<send_po_invoice_attached>0</send_po_invoice_attached>
                <paid_icon>paid.png</paid_icon>
                <capture_methods>authorizenet</capture_methods>
            </purchaseorder>
        </payment>
    </default>
</config>
