<?xml version="1.0"?>
<config>
    <modules>
        <EmjaInteractive_Accountreceivable>
            <version>0.1.0</version>
        </EmjaInteractive_Accountreceivable>
    </modules>
    <admin>
        <routers>
			<accountreceivable>
				<use>admin</use>
				<args>
					<module>EmjaInteractive_Accountreceivable</module>
					<frontName>accountreceivable</frontName>
				</args>
			</accountreceivable>
        </routers>
    </admin>
    <global>
        <blocks>
            <accountreceivable>
                <class>EmjaInteractive_Accountreceivable_Block</class>
            </accountreceivable>
        </blocks>
        <helpers>
            <accountreceivable>
                <class>EmjaInteractive_Accountreceivable_Helper</class>
            </accountreceivable>
        </helpers>
		<models>
            <accountreceivable>
                <class>EmjaInteractive_Accountreceivable_Model</class>
            </accountreceivable>
		</models>
		<resources>
            <accountreceivable_setup>
                <setup>
                    <module>EmjaInteractive_Accountreceivable</module>
                </setup>
            </accountreceivable_setup>
        </resources>
    </global>
</config>